.buttonYoutube{
    margin: 0;
    padding: 0;  
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
    color: #ffff;
    position: relative;
    overflow: hidden;
}
.buttonYoutube:hover{
    color: #3498db;

}
.buttonYoutube::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: 0.5s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
@media screen and (max-width: 520px){
    .container1{
        font-size: 10px;
        padding: 2px;
        margin: 2px;
        flex-wrap: wrap;
    }
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3498db;
    color: white;
    font-size: 50px;
}

.animation{
    width: 200px;
    height: 200px;
    background-color: #3498db;
    position: relative;
    animation-name: firstAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: auto;
    margin-right: auto;
}

@keyframes firstAnimation {
    0%   {
        background-color: #3498db; 
    }
    25%  {
        background-color:pink; width: 50px;
    }
    50%  {
        background-color:blue; width: 100px;
    }
    75%  {
        background-color:purple; width: 300px;
    }
    100% {
        background-color: lightblue; width: 200px;
    }
}

.hoverList > ul ul{
    display: none;
    list-style-type: none;
}

.hoverList > ul > li:hover > ul{
    display: block;
}

.hoverList{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: x-large;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.hoverList > ul{
    list-style-type: none;
}

.hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #3498db;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: width 3s, height 5s;
}

.hover:hover{
    background-color: blue;
    width: 300px;
    height: 400px;
}

.bild img{
    height: 25%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
